services:
  next-app:
    container_name: quetext_clone-dev
    build:
      context: ./
      dockerfile: Dockerfile
    env_file:
      - .env.development
    volumes:
      - ./:/app
    restart: always
    ports:
      - 3001:3001
    networks:
      - npm_network

  # Add more containers below (nginx, postgres, etc.)

# Define a network, which allows containers to communicate
# with each other, by using their container name as a hostname
networks:
  npm_network:
    external: true
