.g_error {
  border-bottom: 2px solid #fff;
  background-color: transparent !important;
}
.g_grammar {
  border-bottom-color: #3f51b5;
  background-color: #dce2ff;
}
.g_spell {
  border-bottom-color: #e91e63;
  background-color: #ffd8e5;
}
.g_style {
  border-bottom-color: #458000;
  background-color: #e4ffc4;
}
.g_grey {
  border-bottom-color: #870087;
  background-color: #ffc4f3;
}
/* global  */
.g_card,
.all-suggest-card {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
/* spinner beside popup */
.all-suggest-card {
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: #fff;
  box-shadow: 0px -4px 14px rgb(0 0 0 / 18%);
  padding: 10px;
  width: 350px;
  z-index: 1;
}
.all-suggest-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 6px;
}
.all-suggest-qt-logo {
  width: 100px;
}

.all-suggest-cross {
  cursor: pointer;
  font-size: 19px;
  line-height: 0;
  color: #999;
}
.qt-g-card *,
.all-suggest-card * {
  text-align: left;
  line-height: normal;
}

.all-suggest-info {
  color: #111;
  font-size: 14px;
  display: flex;
  justify-content: start;
  align-items: center;
  /* margin: 5px 0 -4px; */
  margin: 10px 0 10px;
  display: flex;
  justify-content: space-between;
}
.all-suggest-multiple-all {
  display: flex;
  align-items: center;
  line-height: 0;
}
.v-divider {
  margin: 0 5px;
  display: inline-block;
  font-size: 10px;
  color: #999;
}
.all-suggest-ignore-all,
.all-suggest-fix-all {
  justify-content: start;
  display: flex;
  align-items: center;
  font-family: inherit;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  color: #fff;
  background: #335deb;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 1px 0, rgb(60 66 87 / 8%) 0 2px 5px 0;
  border: 1px solid #2e53d4;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 700;
  margin: 0;
}
.all-suggest-ignore-all:hover,
.all-suggest-fix-all:hover {
  color: #fff;
}
.all-suggest-count {
  height: 25px;
  width: 25px;
  background: #2196f3;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 4px;
  font-size: 12px;
  box-shadow: 0 0 10px -5px #000;
  color: #fff;
}
.all-suggest-list {
  overflow-y: auto;
  height: 300px;
  padding: 10px 10px 10px 0px;
}
.all-suggest-list-item {
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  background: #f4f4f4;
  padding: 10px;
  margin: 0 0 10px;
}
.all-suggest-list-item-header {
  align-items: center;
  display: flex;
  justify-content: start;
  font-size: 14px;
}
.all-suggest-list-item-header-round {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  display: inline-block;
  margin: 0;
}
.all-suggest-list-item-message {
  display: block;
  font-size: 12px;
  margin: 10px 0 0;
  font-weight: 500;
  color: #444;
}
.all_suggest_list_item_suggest_btn {
  font-size: 15px;
  font-family: inherit;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  color: #fff;
  background: #335deb;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 1px 0, rgb(60 66 87 / 8%) 0 2px 5px 0;
  border: 1px solid #2e53d4;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 700;
  margin: 10px 10px 10px 0;
}
.show-error-count {
  user-select: none;
  color: #e91e63;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  border: 2px solid #e91e63;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  background: #fff;
  box-shadow: 0 0 10px -5px #000;
}
/* single suggest box */

.g_card {
  text-align: left;
  position: absolute;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  width: 350px;
  padding: 10px 13px;
  z-index: 1000;
}
#g_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#g_circle {
  height: 10px;
  width: 10px;
  display: inline-block;
  background: red;
  border-radius: 50px;
  margin-right: 10px;
}
#g_hint {
  color: #111;
  font-weight: 700;
  font-size: 16px;
}
#g_hint2 {
  margin: 6px 0 15px;
  display: inline-block;
  font-weight: 400;
  color: #666;
  font-size: 12px;
}
#g_hint_area {
  display: flex;
  flex-wrap: wrap;
}
.g_suggest_btn {
  cursor: pointer;
  background: #405eeb;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin: 0 4px 5px;
  box-shadow: 1px 1px 10px -7px #000;
}
.close_g_card {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  width: 30px;
  height: 30px;
  z-index: 9999999;
  color: #000;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  padding: 10px 10px;
  font-size: 10px;
  cursor: pointer;
}
.col-err-red {
  font-weight: 700;
  color: #e91e63;
}
.all-suggest-list-text-ref {
  word-break: break-all;
  color: #666;
  font-weight: 300;
  font-size: 11px;
  margin: 8px 0 5px;
  line-height: 14px;
}
.fixed-qt-gc-spinner {
  z-index: 999;
  cursor: pointer;
  width: 27px;
  height: 27px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* qt-div { color: #000000dd !important; } */
.g_suggest_btn_ignore {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #555;
  cursor: pointer;
  font-size: 11px;
  display: flex;
  align-items: center;
}
.g_suggest_btn_ignore:hover {
  color: #111;
}
.g_suggest_btn_ignore svg {
  margin-right: 5px;
  height: 14px;
}

.g_suggest_divider {
  height: 0;
  margin: 7px 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
}
.hide-grammar-checker-style span {
  border-bottom-width: 0 !important;
}
